.container-grid {
  width: 1170px;
  height: 360px;
  margin: 10px 10px 10px;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas iguales */
  gap: 2rem; /* Espacio entre elementos */
  align-items: center;
  justify-content: center;
  background-color: #f9dade;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  
}

.img-grid {
  width: 80%;
  height: 100%;
  object-fit: cover;
}

.container-text-grid {
  text-align: center;
  padding: 40px;
  font-size: 400;
  line-height: 1.5rem;
  color: var(--color-text-primary);
  font-family: var(--font-family);
  
}
.nombre-grid {
  font-size: 1.3rem;
}

.texto-grid {
  font-size: 1.1rem;
  text-align: justify;
  
}

.portfolio-grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}